body {
    background-color: #50ffaf;
    color: #000b01;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-containter {
    width: 500px;
    font-family: monospace;
}

button {
    border: 0px;
    border-radius: 20%;
    padding: 6%;
    background-color: #f8ff1d;
    box-shadow: 2px 2px 0px 6px black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #9c7bff;
    cursor: pointer;
}

#f5 {
    margin-top: 10%;
    padding: 3%;
    background-color: #d3d3d3;
}

.reset {
    font-size: 2em;
}

#f5:hover {
    background-color: #9c7bff;
    cursor: pointer;
}

#score,
#result {
    font-size: 2em;
    padding: 1%;
}

#result {
    padding-top: 2%;
}

.board {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    gap: 20%;
}

.board .box {
    flex: 1;
    background-color: #f8ff1d;
    font-size: 4em;
    border-radius: 10%;
    box-shadow: 2px 2px 0px 6px black;
}

.board .box .name {
    font-size: 0.5em;
}

.emoji {
    font-size: 3em;
}

.opt {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-items: center;
}

.header p {
    flex: 1;
}

.score-emoji {
    font-size: 2em;
    display: none;
}